{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'produkty/style.css' %}">
    <meta charset="utf-8">

<header>
      <h1 class="logo">X-Komp</h1>
</header>

<div class='logowanie'>
<h1 class='logo'>Logowanie</h1>
<form method="post" action="">
    {% csrf_token %}
    <div>
    	<label>Login: 
    <input type="text" name="username" placeholder="Nazwa użytkownika"></label>
    </div>
    <div>
    	<label>Hasło: 
    <input type="password" name="password" placeholder="Hasło"></label>
        </div>
<input type="submit" name="" value="Zaloguj" class='button_log'>
</form>
<p>Nie masz konta? <a href="{% url 'rejestracja' %}">Zarejestruj się</a></p>
</div>


